server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

    location /${PANEL_SECRET_PATH}/ {
        alias /usr/share/nginx/html/;
        try_files $uri $uri/ /${PANEL_SECRET_PATH}/index.html;
    }

    location / {
        return 404;
    }
}
