
BOT_API_IMAGE=ghcr.io/ivantopgaming/panel-bot-api:v2.4.16
BOT_IMAGE=ghcr.io/ivantopgaming/panel-bot:v2.2.7
CADDY_IMAGE=ghcr.io/ivantopgaming/panel-caddy:v1.1.2

BOT_DOMAIN=bot.example.com
SUB_DOMAIN=sub.example.com
PANEL_DOMAIN=panel.example.com

SECRET_KEY=change-this-super-long-random-secret

DATABASE_URL=postgresql+psycopg2://panel:CHANGE_ME@data.example.com:5432/panel?sslmode=verify-full&sslrootcert=/etc/ssl/certs/ca-certificates.crt

RATELIMIT_STORAGE_URI=rediss://panel:CHANGE_ME@data.example.com:6379/0
SHARED_REDIS_URI=rediss://panel:CHANGE_ME@data.example.com:6379/0
BOT_SHARED_REDIS_URI=rediss://bot:CHANGE_ME@data.example.com:6379/0

BOT_SERVICE_TOKEN=
BOT_LOG_LEVEL=INFO

BACKEND_LOG_LEVEL=INFO
