
CRON_IMAGE=ghcr.io/ivantopgaming/panel-cron:v2.4.15

DATABASE_URL=postgresql+psycopg2://panel:CHANGE_ME@data.example.com:5432/panel?sslmode=verify-full&sslrootcert=/etc/ssl/certs/ca-certificates.crt

SHARED_REDIS_URI=rediss://panel:CHANGE_ME@data.example.com:6379/0

BACKEND_LOG_LEVEL=INFO
BACKEND_SLOW_SQL_MS=200
