
SUB_IMAGE=ghcr.io/ivantopgaming/panel-sub:v2.4.16
CADDY_IMAGE=ghcr.io/ivantopgaming/panel-caddy:v1.1.2

PANEL_DOMAIN=panel.example.com
SUB_DOMAIN=sub.example.com

SECRET_KEY=change-this-super-long-random-secret

DATABASE_URL=postgresql+psycopg2://panel:CHANGE_ME@data.example.com:5432/panel?sslmode=verify-full&sslrootcert=/etc/ssl/certs/ca-certificates.crt

RATELIMIT_STORAGE_URI=rediss://panel:CHANGE_ME@data.example.com:6379/0
SHARED_REDIS_URI=rediss://panel:CHANGE_ME@data.example.com:6379/0

BACKEND_LOG_LEVEL=INFO
