flask
flask-cors
docker
grpcio==1.66.2
grpcio-tools==1.66.2
protobuf==5.28.3
psutil
pyjwt
gunicorn
gevent
flask-limiter
redis
flask-sqlalchemy
flask-migrate
flask-apscheduler
filelock
requests
pyyaml
cryptography
yookassa>=3.0,<4.0
